.right{
	text-align:right;
	padding-right:10px;	
	width:200px;
}
.rightposition{
    float:right;
    width:370px;
}
.btn-left{
    float:right;
    margin-right:30px;
}
.btn-center{
	float:left;
    position:relative;
    left:50%;
}
.margin-bottom{
	margin-bottom:15px;
}
.margin-left{
	margin-left:90px
}
